<div class="col-md-10 col-md-offset-1">

  <div class="new-physician-form">

    <h1>Edit Professional</h1>
    <%= render partial: 'professionals/form',
               locals: { model: @professional, form_path: professional_path } %>
  </div>

</div>
