
<% if @physicians.empty? %>
  <h1>There are no Physician currently in this category</h1>
<% else %>

<div class="row">

    <% @physicians.each do |physician| %>
    <div class="col-md-3">
      <%= link_to professional_path(physician.id) do %>
        <%= image_tag physician.image.url(:image_index), class: "physician" %>
      <% end %>
    </div>
    <% end %>
</div>
<% end %>
