<div class="col-md-10 col-md-offset-1">

  <div class="new-physician-form">

    <h1>New Physician</h1>
    <%= render partial: 'professionals/form',
               locals: { model: @physician, form_path: physicians_path } %>
  </div>

</div>
