
<% if @attorneys.empty? %>
  <h1>There are no Attorney currently in this category</h1>
<% else %>

<div class="row">

    <% @attorneys.each do |attorney| %>
    <div class="col-md-3">
      <%= link_to professional_path(attorney.id) do %>
        <%= image_tag attorney.image.url(:image_index), class: "attorney" %>
      <% end %>
    </div>
    <% end %>
</div>
<% end %>
